.is___process {
    opacity: 0.7;
}
.error___p {
    color:red;
}



.list___table, .add___table {
    border-collapse: collapse;
    margin: 0 0 15px 0;
    width: 100%;
}
.list___table th, .list___table td,
.add___table th, .add___table td
{
    padding: 12px 12px;
    border: 1px solid #bdb8b8;
    vertical-align:top;
}

.inputs_block input {
    width: calc(100% - 15px);
}

.inputs_block textarea {
    width: calc(100% - 15px);
    resize: vertical;
    min-height: 200px;
}

.first_td {
    text-align:left;
    width: 150px;
}
.buttons_td {
    text-align:right;
    width: 100px;
}

.props_block {
    border-bottom: 1px solid #bdb8b8;
    margin-bottom: 20px;
}

.add_string_value___button {
    width:170px!important;
    margin-right: 15px!important;
}