p.error___p {
	color:red;
	margin: 15px 0;
}

.success___p {
	color: green;
}

input.is___error, textarea.is___error {
	border: 1px solid red;
}

.is___process {
	opacity: 0.6;
}


.null___view {
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
	opacity: 0!important;
	display:none!important;
}


p.no___count {
	margin: 30px 0;
	text-align: center;
	font-style: italic;
}





.item__purchase_no_count {
	border:none;
    min-width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    text-transform: uppercase;
}

.item__purchase_no_count:before {
    color: transparent;
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.item__purchase_no_count:hover, .item__purchase_no_count:focus {
	background: none;
    color: #f3393e;
	cursor: default;
}





.form__error {
	 font-size: 11px;
	 margin-top: 5px;
	 color: #f3393e;
	 line-height: 1.2;
}


.mods_block {
	margin-bottom: 30px!important;
}

.mods_block h4 {
	font-size: 20px!important;
	margin-bottom: 10px!important;
}

.mods_block p {
	margin-bottom: 10px!important;
}

.mods_block a {
	text-decoration: underline!important;
}

.mods_block a:hover{
	text-decoration: none!important;
	color:red!important;
}







.sitemap__sublist > .sitemap__item.second___level:before {
    border: none;
}



.bottom_description {
	padding: 20px 16px;
}
.bottom_description .card {
    font-size: 16px;
}






.catalog_preview_block {
	max-height: 280px;
}





.feedback_form textarea{
	height: 100px;
	resize: none;
}

.feedback_form .input {
    padding-left: 15px;
}




.nal__link {
	cursor:pointer;
	color:blue;
	font-size:12px;
}



.nav__link.active:after {
    opacity: 1;
}


.cardBasketButton.inBasket, .cardBasketButton.inBasket:hover {
	background-color:#949393;
	border-color: #e5e5e5;
	color:white;
}

.bx-ui-sls-container .bx-ui-sls-fake::-webkit-input-placeholder {
    /*color: blue!important;*/
    font-weight: bold!important;
}