<?
require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");
$APPLICATION->SetTitle("Title");
?>.miband2_block {
	text-align: center
	width: 100%;
	line-height: normal;
	font-family: "Verdana";
	position: relative;
	font-size: 9px;
}
.miband2_block .miband2_block_background {
	width: 100%;
}
.miband2_block .miband2_block_inner {
	position: absolute;
	left: 0px;
	top: 0px;
    width: 100%;
    height: 100%;
	display: none;
}
.miband2_block p {
	margin: 0px;
	margin-bottom: 3%;
}
.miband2_block .miband2_block1 {
}
.miband2_block .miband2_block1 .miband2_block1_header {
	font-size: 198%;
    color: #5f5f5f;
    position: absolute;
    left: 13%;
    top: 0.75%;
}
.miband2_block .miband2_block1 .miband2_block1_underheader {
	font-size: 132%;
	color: #5f5f5f;
	position: absolute;
	left: 0%;
	top: 1.3%;
	width: 100%;
	text-align: center;
}
.miband2_block .miband2_block1 .miband2_block1_miniblock1 {
	font-size: 88%;
	color: #5f5f5f;
	position: absolute;
	left: 17.2%;
	top: 2.1%;
}
.miband2_block .miband2_block1 .miband2_block1_miniblock2 {
	font-size: 88%;
	color: #5f5f5f;
	position: absolute;
	left: 34.2%;
	top: 2.0%;
	width: 10.5%;
	text-align: center;
}
.miband2_block .miband2_block1 .miband2_block1_miniblock3 {
	font-size: 88%;
	color: #5f5f5f;
	position: absolute;
	left: 48.9%;
	top: 2.0%;
	width: 15.3%;
	text-align: center;
}
.miband2_block .miband2_block1 .miband2_block1_miniblock4 {
	font-size: 88%;
	color: #5f5f5f;
	position: absolute;
	left: 67.9%;
	top: 2.0%;
	width: 15.3%;
	text-align: center;
}
.miband2_block .miband2_block2 {
}
.miband2_block .miband2_block2 .miband2_block2_header_1 {
	font-size: 132%;
	color: #00bea2;
	position: absolute;
	left: 50.0%;
	top: 8.6%;
	width: 42.3%;
}
.miband2_block .miband2_block2 .miband2_block2_description_1 {
	font-size: 88%;
	color: #cbcbcb;
	position: absolute;
	left: 50.0%;
	top: 9.65%;
	width: 42.3%;
}
.miband2_block .miband2_block2 .miband2_block2_miniblock1 {
	font-size: 132%;
	color: #ffffff;
	position: absolute;
	left: 86.2%;
	top: 13.04%;
}
.miband2_block .miband2_block2 .miband2_block2_miniblock2 {
	font-size: 77%;
	color: #cbcbcb;
	position: absolute;
	left: 50.0%;
	top: 13.9%;
}
.miband2_block .miband2_block2 .miband2_block2_header_2 {
	font-size: 132%;
	color: #00bea2;
	position: absolute;
	left: 7.4%;
	top: 14.7%;
	width: 31.7%;
}
.miband2_block .miband2_block2 .miband2_block2_underheader_2 {
	font-size: 88%;
	color: #00bea2;
	position: absolute;
	left: 7.4%;
	top: 15.4%;
}
.miband2_block .miband2_block2 .miband2_block2_description_2 {
	font-size: 88%;
	color: #cbcbcb;
	position: absolute;
	left: 7.4%;
	top: 16.06%;
	width: 44.1%;
}
.miband2_block .miband2_block2 .miband2_block2_header_3 {
	font-size: 132%;
	color: #00bea2;
	position: absolute;
	left: 7.4%;
	top: 17.8%;
	width: 44.0%;
}
.miband2_block .miband2_block2 .miband2_block2_underheader_3 {
	font-size: 88%;
	color: #00bea2;
	position: absolute;
	left: 7.4%;
	top: 18.5%;
}
.miband2_block .miband2_block2 .miband2_block2_description_3 {
	font-size: 88%;
	color: #cbcbcb;
	position: absolute;
	left: 7.4%;
	top: 19.2%;
	width: 43.06%;
}
.miband2_block .miband2_block3 {
}
.miband2_block .miband2_block3 .miband2_block3_header {
	font-size: 132%;
	color: #3c3c3c;
	position: absolute;
	left: 7.5%;
	top: 23.8%;
}
.miband2_block .miband2_block3 .miband2_block3_description {
	font-size: 88%;
	color: #7b7b7b;
	position: absolute;
	left: 7.5%;
	top: 24.8%;
    width: 65.7%;
}
.miband2_block .miband2_block4 {
}
.miband2_block .miband2_block4 .miband2_block4_header {
	font-size: 132%;
	color: #000000;
	position: absolute;
	left: 7.5%;
	top: 31.5%;
}
.miband2_block .miband2_block4 .miband2_block4_description {
	font-size: 88%;
	color: #302d2d;
	position: absolute;
	left: 7.5%;
	top: 32.8%;
	width: 43.0%;
}
.miband2_block .miband2_block5 {
}
.miband2_block .miband2_block5 .miband2_block5_header {
	font-size: 132%;
	color: #ffffff;
	position: absolute;
	left: 50.0%;
	top: 37.9%;
}
.miband2_block .miband2_block5 .miband2_block5_description {
	font-size: 88%;
    color: #ffffff;
    position: absolute;
	left: 50.0%;
    top: 38.97%;
    width: 41.8%;
}
.miband2_block .miband2_block6 {
}
.miband2_block .miband2_block6 .miband2_block6_header {
	font-size: 132%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 42.5%;
}
.miband2_block .miband2_block6 .miband2_block6_underheader {
	font-size: 99%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 42.9%;
}
.miband2_block .miband2_block6 .miband2_block6_description {
	font-size: 88%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 43.8%;
	width: 41.0%;
}
.miband2_block .miband2_block7 {
}
.miband2_block .miband2_block7 .miband2_block7_header {
	font-size: 132%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 47.0%;
}
.miband2_block .miband2_block7 .miband2_block7_underheader {
	font-size: 99%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 47.73%;
}
.miband2_block .miband2_block7 .miband2_block7_description {
	font-size: 88%;
	color: #ffffff;
	position: absolute;
	left: 7.2%;
	top: 48.4%;
	width: 60.8%;
}
.miband2_block .miband2_block8 {
}
.miband2_block .miband2_block8 .miband2_block8_header {
	font-size: 132%;
	color: #515151;
	position: absolute;
	left: 7.2%;
	top: 53.7%;
}
.miband2_block .miband2_block8 .miband2_block8_description {
	font-size: 88%;
	color: #515151;
	position: absolute;
	left: 7.2%;
	top: 54.7%;
	width: 44.6%;
}
.miband2_block .miband2_block8 .miband2_block8_miniblock1 {
	font-size: 77%;
	color: #515151;
	position: absolute;
	left: 7.2%;
	top: 57.3%;
	width: 11.7%;
	text-align: center;
}
.miband2_block .miband2_block8 .miband2_block8_miniblock2 {
	font-size: 77%;
	color: #515151;
	position: absolute;
	left: 25.4%;
	top: 57.3%;
	width: 11.7%;
	text-align: center;
}
.miband2_block .miband2_block8 .miband2_block8_miniblock3 {
	font-size: 77%;
	color: #515151;
	position: absolute;
	left: 43.8%;
	top: 57.3%;
	width: 11.7%;
	text-align: center;
}
.miband2_block .miband2_block9 {
}
.miband2_block .miband2_block9 .miband2_block9_header_1 {
	font-size: 132%;
	color: #fafafa;
	position: absolute;
	left: 0%;
	top: 58.9%;
	width: 100%;
    text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_description_1 {
	font-size: 88%;
	color: #ababab;
	position: absolute;
	left: 9.5%;
	top: 59.6%;
	width: 81.4%;
	text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_header_2 {
	font-size: 132%;
	color: #fafafa;
	position: absolute;
	left: 0%;
	top: 61.6%;
	width: 100%;
    text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_description_2 {
	font-size: 88%;
	color: #ababab;
	position: absolute;
	left: 9.5%;
	top: 62.3%;
	width: 81.4%;
	text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_header_3 {
	font-size: 132%;
	color: #fafafa;
	position: absolute;
	left: 0%;
	top: 64.45%;
	width: 100%;
    text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_description_3 {
	font-size: 88%;
	color: #ababab;
	position: absolute;
	left: 9.5%;
	top: 65.2%;
	width: 81.4%;
	text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_header_4 {
	font-size: 132%;
	color: #fafafa;
	position: absolute;
	left: 0%;
	top: 67.5%;
	width: 100%;
    text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_description_4 {
	font-size: 88%;
	color: #ababab;
	position: absolute;
	left: 9.5%;
	top: 68.2%;
	width: 81.4%;
	text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_header_5 {
	font-size: 132%;
	color: #fafafa;
	position: absolute;
	left: 0%;
	top: 70.2%;
	width: 100%;
    text-align: center;
}
.miband2_block .miband2_block9 .miband2_block9_description_5 {
	font-size: 88%;
	color: #ababab;
	position: absolute;
	left: 9.5%;
	top: 70.9%;
	width: 81.4%;
	text-align: center;
}
.miband2_block .miband2_block10 {
}
.miband2_block .miband2_block10 .miband2_block10_header_1 {
	font-size: 132%;
	color: #515151;
	position: absolute;
	left: 7.1%;
	top: 74.4%;
}
.miband2_block .miband2_block10 .miband2_block10_description_1 {
	font-size: 88%;
	color: #515151;
	position: absolute;
	left: 7.1%;
	top: 75.1%;
	width: 37.6%;
}
.miband2_block .miband2_block10 .miband2_block10_header_2 {
	font-size: 132%;
	color: #515151;
	position: absolute;
	left: 50.0%;
	top: 74.7%;
}
.miband2_block .miband2_block10 .miband2_block10_description_2 {
	font-size: 88%;
	color: #515151;
	position: absolute;
	left: 50.0%;
	top: 75.7%;
	width: 38.8%;
}
.miband2_block .miband2_block11 {
}
.miband2_block .miband2_block11 .miband2_block11_header {
	font-size: 132%;
	color: #515151;
	position: absolute;
	left: 0%;
	top: 81.25%;
	width: 100%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_description {
	font-size: 88%;
	color: #515151;
	position: absolute;
	left: 19.4%;
	top: 82.0%;
	width: 61.5%;
    text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock1 {
	font-size: 77%;
	color: #fff;
	position: absolute;
	left: 9.6%;
	top: 84.55%;
	width: 13.1%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock1 span {
	font-size: 225%;
	display: block;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock2 {
	font-size: 77%;
	color: #fff;
	position: absolute;
    left: 31.0%;
	top: 84.55%;
	width: 13.8%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock2 span {
	font-size: 225%;
	display: block;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock3 {
	font-size: 77%;
	color: #fff;
	position: absolute;
	left: 52.4%;
	top: 84.55%;
	width: 17.8%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock3 span {
	font-size: 225%;
	display: block;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock4 {
	font-size: 77%;
	color: #fff;
	position: absolute;
	left: 77.5%;
	top: 84.55%;
	width: 13.1%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock4 span {
	font-size: 225%;
	display: block;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock5 {
	font-size: 77%;
	color: #525252;
	position: absolute;
	left: 8.1%;
	top: 86.1%;
	width: 16.3%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock6 {
	font-size: 77%;
	color: #525252;
	position: absolute;
	left: 30.0%;
	top: 86.1%;
	width: 16.8%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock7 {
	font-size: 77%;
	color: #525252;
	position: absolute;
	left: 52.0%;
	top: 86.1%;
	width: 19.0%;
	text-align: center;
}
.miband2_block .miband2_block11 .miband2_block11_miniblock8 {
	font-size: 77%;
	color: #525252;
	position: absolute;
	left: 75.5%;
	top: 86.1%;
	width: 16.8%;
	text-align: center;
}
.miband2_block .miband2_block12 {
}
.miband2_block .miband2_block12 .miband2_block12_header {
	font-size: 132%;
    color: #515151;
    position: absolute;
    left: 19.8%;
    top: 87.8%;
    text-align: center;
}
.miband2_block .miband2_block12 .miband2_block12_description {
	font-size: 88%;
	color: #515151;
	position: absolute;
	left: 18.0%;
	top: 89.1%;
	width: 64.4%;
	text-align: center;
}
.miband2_block .miband2_block13 {
}
.miband2_block .miband2_block13 .miband2_block13_header {
	font-size: 132%;
	color: #515151;
	position: absolute;
	left: 0%;
	top: 96.95%;
	width: 100%;
	text-align: center;
}
.miband2_block .miband2_block13 .miband2_block13_description {
	font-size: 88%;
	color: #515151;
	position: absolute;
    left: 18.7%;
    top: 97.9%;
    width: 61.8%;
	text-align: center;
}<?require($_SERVER["DOCUMENT_ROOT"]."/bitrix/footer.php");?>